# Configuration file

"balance settings" {
    I:bagStackSize=1024
    D:bitLightPercentage=6.25
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    I:stoneChiselUses=8384
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    B:showUsage=true
}


crafting {
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:CookingPlus.blocks.CookingPlusBamboo=true
    B:CookingPlus.blocks.CookingPlusBambooBlock=true
    B:CookingPlus.blocks.CookingPlusBananaBlock=true
    B:CookingPlus.blocks.CookingPlusBasalt=true
    B:CookingPlus.blocks.CookingPlusBasaltSmooth=true
    B:CookingPlus.blocks.CookingPlusBlackCoralBlock=true
    B:CookingPlus.blocks.CookingPlusBlueCoralBlock=true
    B:CookingPlus.blocks.CookingPlusButterBlock=true
    B:CookingPlus.blocks.CookingPlusCoconutBlock=true
    B:CookingPlus.blocks.CookingPlusCoralRockBlock=true
    B:CookingPlus.blocks.CookingPlusCoralRockBrick=true
    B:CookingPlus.blocks.CookingPlusCoralRockBrickMossy=true
    B:CookingPlus.blocks.CookingPlusCoralRockCarved=true
    B:CookingPlus.blocks.CookingPlusCoralRockSmooth=true
    B:CookingPlus.blocks.CookingPlusGreenCoralBlock=true
    B:CookingPlus.blocks.CookingPlusHydrothermalBlock=true
    B:CookingPlus.blocks.CookingPlusInfusedGlass=true
    B:CookingPlus.blocks.CookingPlusLightAirBlock=true
    B:CookingPlus.blocks.CookingPlusNetworkBlock=true
    B:CookingPlus.blocks.CookingPlusNullBlock=true
    B:CookingPlus.blocks.CookingPlusOrangeCoralBlock=true
    B:CookingPlus.blocks.CookingPlusPalmLog=true
    B:CookingPlus.blocks.CookingPlusPalmPlanks=true
    B:CookingPlus.blocks.CookingPlusRedCoralBlock=true
    B:CookingPlus.blocks.CookingPlusRopeBlock=true
    B:CookingPlus.blocks.CookingPlusSaltBlock=true
    B:CookingPlus.blocks.CookingPlusTangleHeart=true
    B:CookingPlus.blocks.CookingPlusTangleLog=true
    B:CookingPlus.blocks.CookingPlusWhiteCoralBlock=true
    B:CookingPlus.blocks.CookingPlusYellowCoralBlock=true
    B:betterwithmods.blocks.BlockAesthetic=true
    B:betterwithmods.blocks.BlockDebarkedNew=true
    B:betterwithmods.blocks.BlockDebarkedOld=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPStone=true
    B:com.mramericanmike.mikedongles.blocks.CompressBlock=true
    B:com.mramericanmike.mikedongles.blocks.SpongeBlock=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACBasic=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACDoubleSlab=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACLog=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACOre=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockDarkstone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockEthaxiumBrick=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockEthaxiumPillar=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockSolidLava=true
    B:com.shinoow.abyssalcraft.common.blocks.IngotBlock=true
    B:com.skidsdev.fyrestone.block.BlockBase=true
    B:com.skidsdev.fyrestone.block.BlockFyrestoneOre=true
    B:com.tomevoll.routerreborn.Blocks.BlockLamp=true
    B:"forestry.arboriculture.blocks.log.BlockArbLog$1"=true
    B:"forestry.arboriculture.blocks.log.BlockFireproofVanillaLog$1"=true
    B:"forestry.arboriculture.blocks.planks.BlockArbPlanks$1"=true
    B:"forestry.arboriculture.blocks.planks.BlockFireproofVanillaPlanks$1"=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:mekanism.common.block.BlockOre=true
    B:mekanism.common.block.BlockPlastic=true
    B:mekanism.common.block.BlockSalt=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockHugeMushroom=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:"org.cyclops.evilcraft.block.BloodWaxedCoalBlockConfig$1"=true
    B:"org.cyclops.evilcraft.block.BloodyCobblestoneConfig$1"=true
    B:org.cyclops.evilcraft.block.DarkBlock=true
    B:org.cyclops.evilcraft.block.DarkBloodBrick=true
    B:"org.cyclops.evilcraft.block.DarkBrickConfig$1"=true
    B:org.cyclops.evilcraft.block.DarkPowerGemBlock=true
    B:org.cyclops.evilcraft.block.HardenedBlood=true
    B:org.cyclops.evilcraft.block.LightningBomb=true
    B:org.cyclops.evilcraft.block.NetherfishSpawn=true
    B:"org.cyclops.evilcraft.block.UndeadLogConfig$1"=true
    B:"org.cyclops.evilcraft.block.UndeadPlankConfig$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableBookshelf=true
    B:vazkii.quark.building.block.BlockBark=true
    B:vazkii.quark.building.block.BlockCarvedWood=true
    B:vazkii.quark.building.block.BlockCharredNetherBricks=true
    B:vazkii.quark.building.block.BlockHardenedClayTiles=true
    B:vazkii.quark.building.block.BlockIronPlate=true
    B:vazkii.quark.building.block.BlockMidori=true
    B:vazkii.quark.building.block.BlockMidoriPillar=true
    B:vazkii.quark.building.block.BlockNewSandstone=true
    B:vazkii.quark.building.block.BlockPolishedStone=true
    B:vazkii.quark.building.block.BlockReed=true
    B:vazkii.quark.building.block.BlockSandyBricks=true
    B:vazkii.quark.building.block.BlockSnowBricks=true
    B:vazkii.quark.building.block.BlockStainedClayTiles=true
    B:vazkii.quark.building.block.BlockThatch=true
    B:vazkii.quark.building.block.BlockWorldStoneBricks=true
    B:vazkii.quark.decoration.block.BlockBlazeLantern=true
    B:vazkii.quark.decoration.block.BlockCharcoal=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockBasalt=true
    B:vazkii.quark.world.block.BlockBiotite=true
    B:vazkii.quark.world.block.BlockBiotiteOre=true
}


"integration settings" {
    B:ShowBitsInJEI=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:enableAPITestingItem=false
    B:logTileErrors=false
}


